<div class="container">
  <h2>Log In</h2>
  <form class="auth-form">
    <div class="form-control">
      <div class="form-fields">
        <Label>Email:</Label>
        <Input
          type="text"
          placeholder="Please enter your email"
          class="input-field"
          autocomplete="on"
        />
      </div>
      <div class="validation"></div>
    </div>

    <div class="form-control">
      <div class="form-fields">
        <Label>Password:</Label>
        <Input
          type="password"
          placeholder="Please enter your password"
          class="input-field"
          autocomplete="on"
        />
      </div>
      <div class="validation"></div>
    </div>

    <div class="btn-wrapper">
      <button type="submit" class="btn">Log In</button>
      <button type="submit" class="btn" (click)="navigateToRegisterPage()">
        Create new account
      </button>
    </div>
  </form>
</div>
