<ng-template appRef></ng-template>

<div class="container">
  <form
    class="search-form"
    [formGroup]="searchForm"
    (ngSubmit)="submitSearch()"
  >
    <div class="form-control">
      <div class="form-fields">
        <Label class="label">Find your hero</Label>
        <div class="input-wrapper">
          <button
            type="button"
            (click)="showModal()"
            class="abc_btn btn"
            *ngIf="alpha.clickedLetter; else defaultLetter"
          >
            {{ alpha.clickedLetter }}
          </button>
          <ng-template #defaultLetter>
            <button type="button" (click)="showModal()" class="abc_btn btn">
              A
            </button>
          </ng-template>
          <input
            type="text"
            placeholder="Please enter the hero name"
            class="input-field"
            autocomplete="on"
            formControlName="search"
          />
        </div>

        <div class="validation" *ngIf="ngIfSearchValidation()">
          <small class="validate-msg" *ngIf="ngIfSearchRequired()"
            >This field is required</small
          >
          <small class="validate-msg" *ngIf="ngIfSearchPattern()"
            >Use only letters for search</small
          >
        </div>

        <p class="recent-search_title">Resent searches:</p>
        <div class="recent-search_wrapper">
          <span
            class="recent-search"
            *ngFor="let recent of searchService.allRecentSearches"
            >{{ recent }}
          </span>
        </div>
      </div>

      <div class="loading" *ngIf="loading">
        <p class="search-msg">Searching...</p>
      </div>
    </div>
  </form>

  <div class="search-results" *ngIf="searchService.heroes; else alphabet">
    <div class="results">
      <div
        class="heroes-list"
        *ngFor="
          let hero of searchService.heroes
            | paginate: { itemsPerPage: 4, currentPage: page }
        "
      >
        <img
          class="hero-image"
          src="{{ hero.image.url }}"
          alt="{{ hero.name }}"
        />
        <h3>
          {{ hero.name }}
        </h3>
        <ul>
          <li *ngIf="hero.powerstats.combat !== 'null'">
            <span>Combat: {{ hero.powerstats.combat }}</span>
          </li>
          <li *ngIf="hero.powerstats.durability !== 'null'">
            <span>Durability: {{ hero.powerstats.durability }}</span>
          </li>
          <li *ngIf="hero.powerstats.intelligence !== 'null'">
            <span>Intelligence: {{ hero.powerstats.intelligence }}</span>
          </li>
          <li *ngIf="hero.powerstats.power !== 'null'">
            <span>Power: {{ hero.powerstats.power }}</span>
          </li>
          <li *ngIf="hero.powerstats.speed !== 'null'">
            <span>Speed: {{ hero.powerstats.speed }}</span>
          </li>
          <li *ngIf="hero.powerstats.strength !== 'null'">
            <span>Strength: {{ hero.powerstats.strength }}</span>
          </li>
        </ul>
        <button
          type="button"
          class="btn"
          (click)="selectHero($event)"
          data-id="{{ hero.id }}"
        >
          select
        </button>
      </div>

      <div *ngIf="errorMsg" class="errorMessage">
        <h2>Error</h2>
        <p class="error">{{ errorMsg }}</p>
      </div>
    </div>
    <div>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>

  <ng-template #alphabet>
    <div class="search-results" *ngIf="alpha.heroes">
      <div class="results">
        <div
          class="heroes-list"
          *ngFor="
            let hero of alpha.heroes
              | paginate: { itemsPerPage: 4, currentPage: page }
          "
        >
          <img
            class="hero-image"
            src="{{ hero.image.url }}"
            alt="{{ hero.name }}"
          />
          <h3>
            {{ hero.name }}
          </h3>
          <ul>
            <li *ngIf="hero.powerstats.combat !== 'null'">
              <span>Combat: {{ hero.powerstats.combat }}</span>
            </li>
            <li *ngIf="hero.powerstats.durability !== 'null'">
              <span>Durability: {{ hero.powerstats.durability }}</span>
            </li>
            <li *ngIf="hero.powerstats.intelligence !== 'null'">
              <span>Intelligence: {{ hero.powerstats.intelligence }}</span>
            </li>
            <li *ngIf="hero.powerstats.power !== 'null'">
              <span>Power: {{ hero.powerstats.power }}</span>
            </li>
            <li *ngIf="hero.powerstats.speed !== 'null'">
              <span>Speed: {{ hero.powerstats.speed }}</span>
            </li>
            <li *ngIf="hero.powerstats.strength !== 'null'">
              <span>Strength: {{ hero.powerstats.strength }}</span>
            </li>
          </ul>
          <button
            type="button"
            class="btn"
            (click)="selectHero($event)"
            data-id="{{ hero.id }}"
          >
            select
          </button>
        </div>

        <div *ngIf="errorMsg" class="errorMessage">
          <h2>Error</h2>
          <p class="error">{{ errorMsg }}</p>
        </div>
      </div>

      <div>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </ng-template>
</div>
