.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background: rgb(212, 72, 72);
}

a {
  color: #fff;
}

.btn {
  margin: 0;
  border-radius: 10px;
  cursor: pointer;
}

.navigate {
  display: flex;
}

.user-info {
  font-size: 25px;
  color: white;
  margin-right: 30px;
  cursor: pointer;
}
