.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-search_wrapper {
  display: flex;
}

.recent-search_title {
  margin: 0 auto;
}

.recent-search {
  margin-right: 10px;
  cursor: pointer;

  &:hover {
    color: red;
  }
}
